body {
	height: 100%;
  background-color:#C9B9AD;
  font-family: 'Roboto Slab', serif;
}

h1 {
  font-family: 'Bree Serif','Roboto Slab', serif;
  font-size: 40px;
  color: #232628;
}

h1 hr {
  /*border-bottom: 3px solid #232628;*/
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

h2,
h3,
h4{
  font-family: 'Roboto Slab', serif;
}

p{
  font-family: 'Roboto Slab', serif;
  line-height: normal;
  font-weight:400;
  font-size: 14px;

}

b{
  font-weight:bold;
}

em{
  font-style:italic;
}

u{
  text-decoration: underline;
}

a{
  text-decoration: underline;
  color: #0000CD;
}
.intro {
  display: none;
}
quote{

}

.container{
  width:95%;
  display: grid;
  background-color: #C9B9AD;
  grid-template-columns: 1fr;
  grid-template-rows: 130px auto auto auto;
  grid-gap: 5px;
  padding: 5px;
  margin:10px;
  grid-template-areas:
    "hd"
    "sb"
    "main"
    "ft";
  }
.head{
    grid-area: hd;
    color: firebrick;
    padding: 10px 10px 10px;
    background-color:#C9B9AD;
  }

.sidebar{
  grid-area: sb;
  padding: 10px;
  background-color:#FAF5EF;
}

.sidebar a:hover {
  background-color: gold;
}

.main{
  grid-area: main;
  padding: 5px;
  background-color:#C9B9AD;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  grid-gap: 10px;
  padding: 10px auto 10px;
  max-height: 1000px;
  overflow-y: scroll;
}
.card {
  max-width: 400px;
  margin: 10px;
  padding: auto;
  border-radius: 8%;
  border: 4px solid #FAF5EF;
  background-color: #FAF5EF;
}

.card img {
  max-width: 100%;
  text-align : center;
  margin: auto;
  padding: auto;
  border-radius: 10%;
}

.card h3 {
  padding: 5px 8px 0;
}
.card p {
  max-height: 175px;
  padding: 8px;
  background-color: none;
}
.card p a:hover {
  background-color: gold;
}

.card:hover {
  min-width: 320px;
}

.footer{
  grid-area:ft;
  padding: 10px;
  background-color:#C9B9AD;
  text-align: center;
}

.nav {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;

}
.nav li{
  height: 12px;
  background-color: gold;
  border-collapse: separate;
}
/*Medium size monitor breakpoint*/
 @media (min-width:600px) and (max-width:860px){
   .container{
     width:auto;
     height: 90%;
     grid-template-columns: repeat(6,1fr);
     grid-template-rows: 130px auto 80px;
     padding: 5px;
     grid-template-areas:
      "hd hd hd hd hd hd"
      "sb sb main main main main"
      "ft ft ft ft ft ft";
    }
    .sidebar{
      grid-area: sb;
      padding: 0 10px;
      background-color:#C9B9AD;
    }

    .intro {
      display: inline;
    }
    .intro p,
    .intro h2 {
      font-weight:200;
    }

    .nav {
      display:flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin: none;
      position: relative;
      top: 5%;
      line-height: 25px;


    }
    .nav li{
      list-style-type: none;
      margin-left: 5px;
      border: 1px solid black;
      text-align: left;
    }

    .nav li:hover {
      font-style:italic;
    }

    .main{
      grid-area: main;
      padding: 5px;
      background-color:#C9B9AD;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      grid-gap: 5px;
      padding: 10px auto 10px;
      max-height: 1100px;
      overflow-x: scroll;
    }
    .card {
      min-width: 300px;
      margin: 10px;
    }

    .card img {
      max-width: 100%;
      height: auto;
    }

    .card h3 {
      padding: 5px 8px 0;

    }
    .card p {
      padding: 8px;
      max-height: 175px;

    }

    .card:hover {
      min-width: 320px;
    }
   }


/*Large size monitor breakpoint*/

@media (min-width:861px) {
     .container{
       position: relative;
       width:auto;
       height: 90%;
       grid-template-columns: 254px auto;
       grid-template-rows: 130px auto 80px;
       padding: 5px;
       grid-template-areas:
        "hd hd "
        "sb main"
        "ft ft";
      }

      .sidebar{
        grid-area: sb;
        padding: 0 10px;
        background-color:#C9B9AD;
      }

      .intro {
        display: inline;
      }
      .intro p,
      .intro h2 {
        font-weight:200;
      }

      .nav {
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: none;
        position: relative;
        top: 5%;
        line-height: 25px;


      }
      .nav li{
        list-style-type: none;
        margin-left: 5px;
        border: 1px solid black;
        text-align: left;
      }

      .nav li:hover {
        font-style:italic;
      }

      .main{
        grid-area: main;
        background-color:#C9B9AD;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        grid-gap: 20px;
        padding: 10px auto 10px;
        max-height: 1100px;
        overflow-x: scroll;
      }
      .card {
        min-width: 300px;
        margin: 10px;
      }

      .card img {
        max-width: 100%;
        height: auto;
      }

      .card h3 {
        padding: 5px 8px 0;

      }
      .card p {
        padding: 8px;
        max-height: 175px;
      }

      .card:hover {
        min-width: 320px;
      }
     }
