body {
	height: 100%;
  background-color:linen;
  font-family: 'Roboto Slab', serif;

}

h1,
h2,
h3,
h4{
  font-family: 'Roboto Slab', serif;
}

p{
  font-family: 'Roboto Slab', serif;
  line-height: normal;
  font-weight:400;

}

b{
  font-weight:bold;
}

em{
  font-style:italic;
}

u{
  text-decoration: underline;
}

a{
  text-decoration: underline;
}
a:hover{
  background-color: gold;
}

quote{

}

.container{
  width:95%;
  display: grid;
  background-color: azure;
  grid-template-columns: 1fr;
  grid-template-rows: 130px auto auto auto;
  grid-gap: 5px;
  padding: 5px;
  margin:10px;
  grid-template-areas:
    "hd"
    "sb"
    "main"
    "ft";
  }
.head{
    grid-area: hd;
    color: firebrick;
    padding: 15px;
    background-color:peachpuff;
  }

.sidebar{
  grid-area: sb;
  padding: 10px;
  background-color:khaki;

}

.main{
  grid-area: main;
  padding: 5px;
  background-color:lightsteelblue;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  grid-gap: 5px;
  padding: 10px auto 10px;
  max-height: 1000px;
  overflow-y: scroll;
}
.card {
  max-width: 400px;
  background-color: lightseagreen;
  margin: 10px;
}

.card img {
  max-width: 100%;
  height: auto;
}

.card h3 {
  padding: 5px 8px 0;

}
.card p {
  max-height: 175px;
  padding: 8px;
  border: 1px solid blue;

}

.card:hover {
  outline: 5px solid pink;
}
.footer{
  grid-area:ft;
  padding: 10px;
  background-color:silver;
}

.nav {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;

}
.nav li{
  height: 12px;
  background-color: gold;
  border-collapse: separate;
}
/*Medium size monitor breakpoint*/
 @media (min-width:600px) and (max-width:860px){
   .container{
     width:auto;
     height: 90%;
     grid-template-columns: repeat(6,1fr);
     grid-template-rows: 130px auto 80px;
     padding: 5px;
     grid-template-areas:
      "hd hd hd hd hd hd"
      "sb sb main main main main"
      "ft ft ft ft ft ft";
    }
    .nav {
      display:flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin: none;
      position: relative;
      top: 30%;

    }
    .nav li{
      list-style-type: none;
      margin-left: 5px;
      border: 1px solid black;
      text-align: left;
    }

    .main{
      grid-area: main;
      padding: 5px;
      background-color:lightsteelblue;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      grid-gap: 5px;
      padding: 10px auto 10px;
      max-height: 1000px;
      overflow-x: scroll;
    }
    .card {
      min-width: 300px;
      background-color: lightseagreen;
      margin: 10px;
    }

    .card img {
      max-width: 100%;
      height: auto;
    }

    .card h3 {
      padding: 5px 8px 0;

    }
    .card p {
      padding: 8px;
      border: 1px solid blue;
      max-height: 175px;


    }

    .card:hover {
      outline: 5px solid pink;
    }
   }


/*Large size monitor breakpoint*/

@media (min-width:861px) {
     .container{
       position: relative;
       width:auto;
       height: 90%;
       grid-template-columns: 254px auto;
       grid-template-rows: 130px auto 80px;
       padding: 5px;
       grid-template-areas:
        "hd hd "
        "sb main"
        "ft ft";
      }

      .nav {
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: none;
        position: relative;
        top: 30%;

      }
      .nav li{
        list-style-type: none;
        margin-left: 5px;
        border: 1px solid black;
        text-align: left;
      }

      .main{
        grid-area: main;
        padding: 5px;
        background-color:lightsteelblue;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        grid-gap: 5px;
        padding: 10px auto 10px;
        max-height: 1000px;
        overflow-x: scroll;
      }
      .card {
        min-width: 300px;
        background-color: lightseagreen;
        margin: 10px;
      }

      .card img {
        max-width: 100%;
        height: auto;
      }

      .card h3 {
        padding: 5px 8px 0;

      }
      .card p {
        padding: 8px;
        border: 1px solid blue;
        max-height: 175px;


      }

      .card:hover {
        outline: 5px solid pink;
      }
     }
